$inactive-gradient: linear-gradient(to right, #e95b75 0%, #fd868c 100%);
$inactive-color: #fd868c;

$active-gradient: linear-gradient(to right,  #00BCD4 0%, #00d499 100%);
$active-color: #00d499;

.curved-menu{
    position: relative;
    z-index: 100;
    display: inline-block;

    &__curve-container{
        position : absolute;
        z-index: 1;
        width : 100%;
        height : 100%;
        overflow : hidden;
        box-sizing : border-box;
        left : 0;
        top : 0;

        &__curve{
            border-radius: 50%;
            box-sizing: border-box;
            position: absolute;
            z-index: 2;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s ease;
            overflow: hidden;
            background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);

            &:after{
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                background-color: #fff;
                left: 2px;
                top: 2px;
                right: 2px;
                bottom: 2px;
                border-radius: 50%;
            }
        }
    }

    &__point{
        position: absolute;
        z-index: 2;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 5px;
        filter: url('#curved-menu-goo-effect');

        &__bullet{
            position: relative;
            flex: 0 0 auto;
            box-sizing: border-box;
            z-index: 2;
            transform: scale(1);
            transition: all 300ms ease;

            &:before{
                content: "";
                display: block;
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-image: $inactive-gradient;
                border-radius: 50%;
            }

            &:after{
                content: "";
                display: block;
                position: absolute;
                z-index: 0;
                left: 5px;
                top: 5px;
                right: 5px;
                bottom: 5px;
                border-radius: 50% !important;
                background-color: #fff;
                transition: all 300ms ease;
            }
        }
        
        &__label{
            position: relative;
            flex: 0 0 auto;
            padding: 2px 15px 3px;
            color: #fff;
            background-color: $inactive-color;
            //box-shadow: 1px 1px 0 2px #fff, 2px 2px 5px $inactive-color;
            box-sizing: border-box;
            border-radius: 30px;
            font-size: 12px;
            text-transform: uppercase;
            font-family: sans-serif;
            white-space: nowrap;
            z-index: 1;
            opacity: 0;
            transform: translateX(-10px);
            transition: opacity 300ms ease, transform 300ms ease;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 100;

            &:before{
                content: "";
                display: block;
                position: absolute;
                width: 0px;
                height: 0px;
                left: -3px;
                top: 50%;
                transform: translateY(-50%);
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 5px solid $inactive-color;
            }
        }

        &:hover &{
            &__bullet{
                transform: scale(1.1);

                &:after{
                    transform: scale(0.6);
                    background-color: #eee;
                }
            }

            &__label{
                transform: translateX(5px);
                opacity: 1;
            }
        }

        &--active &{
            &__bullet{
                &:before{
                    background-image: $active-gradient;
                }
            }

            &__label{
                background-color: $active-color;
                //box-shadow: 1px 1px 0 2px #fff, 2px 2px 5px $active-color;
                
                &:before{
                    border-right: 5px solid $active-color;
                }
            }
        }
    }
}

